*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.todo-app
{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    justify-content:space-between; 
    align-items: center;
    background: #edeef0;    
    padding-left: 20px;
    border-radius: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    font-weight: 14px;
    border: none;
    background: transparent;
    outline: none;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 10px 50px;
    color: #fff;
    background: #153677;
    cursor: pointer;
    font-size: 16px;
    border-radius: 40px;
}
ul li{
    list-style: none;
    display: flex;
    font-size: 17px;
    user-select: none;
    padding: 16px 8px 12px 50px;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    left: 8px;
    top: 12px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right:0px;
    width: 40px;
    height: 40px;
    color: #555;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #e6e6e6;
    cursor: pointer;
    border-radius: 50%;
}